 .carrito  .navegador{
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1px #b1b6bd;
    margin-bottom: 10px;
    font-family: 'kanit';
    font-size: 14px;
    }
    .carrito .navegador p{
        color: black;

    }
 

 .carrito .navegador .opcion1{
    border-bottom: solid 2px #939999;
    width: 100px;
    
   
    
    
}

.carrito main section article{
    display: flex;
    
    
}

.carrito .img-detail{
    padding-left: 20px;
    display: flex;
    
}

.carrito .cantidad{
    display: flex;
    justify-content: space-around;
    
}

.carrito .precio{
    padding-left: 350px;
}

.carrito .cantidad form{
    display: flex;
    position: absolute;
    left: 120px;
}
.carrito  .articulo1{
    border-bottom: solid 4px #939999;
    display: flex;
    flex-direction: column;

    border-bottom: solid 4px #939999;
}



.carrito .boton-delet{
    border-top: solid 1px #b1b6bd;
    
}
.carrito .boton-delet button{
    border: none;
    background-color: white;
    cursor: pointer;
    padding-left: 20px;
}

.carrito main section .articulo1 input{
    border: none;
    width: 10px;
}




.carrito main section article .delet{
    position: relative;
    top: 140px;
    right: 360px;
}


.carrito .descripcion{
    margin-left: 20px;
}



 
 