 .carrito  .navegador{
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1px #b1b6bd;
    margin-bottom: 10px;
    font-family: 'kanit';
    font-size: 14px;
    }
    .carrito .navegador p{
        color: black;

    }
 

 .carrito .navegador .opcion1{
    border-bottom: solid 2px #939999;
    width: 100px;
    
   
    
    
}

.carrito main section article{
    display: flex;
    
    
}
.carrito main section .articulo1{
    padding-bottom: 80px;
    border-bottom: solid 4px #939999;
}

.carrito main section .articulo1 form{
    display: flex;
    border: none;
    position: relative;
    bottom: -138px;
    left: -360px;
    background-color: white;
    
}

.carrito main section .articulo1 input{
    border: none;
    width: 10px;
}




.carrito main section article .delet{
    position: relative;
    top: 140px;
    right: 360px;
}



 
 