.detail{
    background-color: white;
    font-family: 'Roboto';
    font-weight: normal;
}

.detail main{
    background-color: white;
}
.detail .detalle{
    margin-bottom: 20px;
    margin-top: 20px;
}
.detail .detalle .product .name-favorit{
    margin: 10px 0;
    display: grid;
    grid-template-columns: 80% 20%;
    text-align: center;
    padding: 5px;
}
.detail .detalle .product .name-favorit .name{
    display: inline-block;
    font-size: 1.4rem;
    text-align: left;
    text-transform: uppercase;
}

.detail .detalle .product .name-favorit a i{
    color: gray;
    font-size: 1.7rem;
}
.detail .detalle .product .photo img{
    padding: 10%;
    width: 100%;
    margin-bottom: 15px;
}
.detail .detalle .product .descripcion .codigo-producto{
    color: grey;
    font-size: 1rem;
    text-transform: uppercase;
}
.detail .detalle .product .descripcion .precio{
    font-size: 1.2rem;
    padding: 5px;
}
.detail .detalle .product .descripcion .precio .price{
    text-decoration: line-through;
    color: grey;
}
.detail .detalle .product .descripcion .precio .descuento{
    border: 1px solid rgb(170, 169, 169);
    border-radius: 5px;
    padding: 2px 4px;
}
.detail .detalle .product .descripcion .precio .img-desc{
    color: red;
}
.detail .detalle .product .descripcion .cuotas-tarjeta{
    text-transform: uppercase;
}
.detail .detalle .product .descripcion .cuotas-tarjeta i, .detail .detalle .product .descripcion .cuotas-tarjeta span{
    font-size: 1.3rem;
    padding: 10px 0;
}
.detail .detalle .product .descripcion .cantidad-productos{
    margin: 15px 0;
}
.detail .detalle .product .descripcion .cantidad-productos span{
    padding: 0 5px 0 5px;
    text-transform: capitalize;
    font-size: 0.9rem;
}
.detail .detalle .product .descripcion .cantidad-productos .cant{
    background-color: white;
    border: solid 1px black;
}
.detail .detalle .product .descripcion .cantidad-productos .cant1{
    background: white;
    padding-left: 7px;
    text-align: center;
    border: solid 1px black;
    padding-right: 7px;
}

.detail .detalle .product .descripcion .cantidad-productos input{
    background-color: white;
    border: none;
    text-align: center;
    width: 20px;

}

.detail .detalle .product .descripcion .favoritos-boton{
    font-size: 1.rem;
}
.detail .detalle .product .descripcion .favoritos-boton button{
    border-radius: 15px;
    color: #fff;
    padding: 2px 15px;
    background-color: #c9b391;
    border:outset sandybrown;
    transition: all .8s;
}
.detail .detalle .product .parrafo .detalles h3{
    margin-bottom: 5px;
    text-transform: uppercase;
    margin-top: 15px;
}
.detail .detalle .product .parrafo .detalles p{
    text-transform: capitalize;
    margin-bottom: 15px;
}

@media (min-width: 426px) {
    .detail .detalle .product .photo img{
        padding: 5%;
    }
    .detail .detalle .product .photo-description{
        display: flex;
    }
    .detail .detalle .product .photo-description .photo{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .detail .detalle .product .photo-description .photo img{
        max-height: 95%;
        max-width: 95%;
    }
    .detail .detalle .product .photo-description .descripcion{   
        display: flex;
        flex-direction: column;
        justify-content: center;     
        width: 50%;
    }
    .detail .detalle .product .descripcion .favoritos-boton button{
        margin-top: 15px;
    }
}

@media (min-width: 769px){
    .detail{
        margin-left: auto;
        margin-right: auto;
        width: 100%
    }
    .detail .detalle .product .name-favorit .name{
        padding-left: 5%;
        padding-top: 15px;
        font-weight: bold;
    }
    .detail .detalle .product .name-favorit a i{
        font-size: 2.2rem;
        padding-right: 25%;
        margin-top: 10px;
    }
    .detail .detalle .product .photo-description .photo img{
        max-height: 75%;
        max-width: 75%;
    }
    .detail .detalle .product .photo-description .descripcion{        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .detail .detalle .product .descripcion .codigo-producto{
        font-size: 1.2rem;
    }
    .detail .detalle .product .descripcion .precio{
        font-size: 1.4rem;
    }
    .detail .detalle .product .descripcion .cuotas-tarjeta i{
        font-size: 1.5rem;
    }
    .detail .detalle .product .descripcion .cuotas-tarjeta span{
        font-size: 12px;
    }
    .detail .detalle .product .descripcion .cantidad-productos span{
        font-size: 1.1rem;
    }
    .detail .detalle .product .descripcion .favoritos-boton{
        font-size: 1.2rem;
    }
    .detail .detalle .product .parrafo{
        padding: 0 5%;
    }
    .detail .detalle .product .parrafo .detalles h3{
        font-size: 1.5rem;
    }
    .detail .detalle .product .parrafo .detalles p{
        font-size: 15px;
    }
}
