.detail{
    background-color: rgb(233, 233, 224);
    padding: 20px;
}
.detail .detalle{
    margin-bottom: 20px;
}
.detail .detalle .container .product .name-favorit{
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 80% 20%;
    text-align: center;
    padding: 5px;
}
.detail .detalle .container .product .name-favorit .name{
    display: inline-block;
    font-size: 1.6rem;
    text-align: left;
    text-transform: uppercase;
}
.detail .detalle .container .product .name-favorit a i{
    color: gray;
    font-size: 1.9rem;
}
.detail .detalle .container .product .photo img{
    padding: 5%;
    width: 100%;
    /*border: 2px solid rgb(170, 169, 169);*/
    margin-bottom: 15px;
}
.detail .detalle .container .product .descripcion .codigo-producto{
    color: grey;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.detail .detalle .container .product .descripcion .precio{
    font-size: 1.4rem;
    padding: 5px;
}
.detail .detalle .container .product .descripcion .precio .price{
    text-decoration: line-through;
    color: grey;
}
.detail .detalle .container .product .descripcion .precio .descuento{
    border: 1px solid rgb(170, 169, 169);
    border-radius: 5px;
    padding: 2px 4px;
}
.detail .detalle .container .product .descripcion .precio .img-desc{
    color: red;
}
.detail .detalle .container .product .descripcion .cuotas-tarjeta{
    
    text-transform: uppercase;
}
.detail .detalle .container .product .descripcion .cuotas-tarjeta i{
    font-size: 1.5rem;
    padding: 10px 0;
}
.detail .detalle .container .product .descripcion .cuotas-tarjeta span{
    font-size: 1.5rem;
    padding: 10px 0;
}
.detail .detalle .container .product .descripcion .cantidad-productos{
    margin: 15px 0;
}
.detail .detalle .container .product .descripcion .cantidad-productos span{
    padding: 0 5px 0 5px;
    text-transform: capitalize;
    font-size: 1.1rem;
}
.detail .detalle .container .product .descripcion .cantidad-productos .cant{
    background-color: ivory;
    border-radius: 10px;
}
.detail .detalle .container .product .descripcion .cantidad-productos input{
    background-color: rgba(201, 201, 201, 0.856);
    width: 10%;
    text-align: center;
}
.detail .detalle .container .product .descripcion .favoritos-boton{
    text-align: center;
    font-size: 1.3rem;
}
.detail .detalle .container .product .descripcion .favoritos-boton button{
    padding: 2px 15px;
}
.detail .detalle .container .product .parrafo .detalles h3{
    margin-bottom: 5px;
    text-transform: uppercase;
    margin-top: 15px;
}
.detail .detalle .container .product .parrafo .detalles p{
    text-transform: capitalize;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .detail .detalle .container .product .photo-description{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .detail .detalle .container .product .photo-description .descripcion{        
        padding: 0 5%;
        margin-bottom: 0;
    }
    .detail .detalle .container .product .descripcion .favoritos-boton button{
        margin-top: 15px;
    }
}

@media (min-width: 1024px){
    .detail .detalle .container .product .name-favorit .name{
        font-size: 1.9rem;
    }
    .detail .detalle .container .product .name-favorit a i{
        font-size: 2.2rem;
    }
    .detail .detalle .container .product .parrafo .detalles h3{
        font-size: 1.5rem;
    }
    .detail .detalle .container .product .parrafo .detalles p{
        font-size: 1.2rem;
    }
}