

/*header1*/
 @media (min-width: 10px) and (max-width: 768px){
 
  .cont-header2{
    display: none;
  }



.logotipo{ 
 border-radius: 10px;
  margin-top: 5px;
    height: 50px;
    margin-left: 15px;
  margin-right: 50px;
 
}

.cont-header{ 
background-color: white;
  display:flex;
  flex-direction: row-reverse;  
}

div.logueo a i{
  color: black;
  margin: 5px;
}


div.logueo{
  color: black;
   margin-left: auto;
   padding: 10px;
   justify-content:space-evenly;
}

.header1 .logueo a{
  color: black;
  margin-left: 15px;
  justify-content: flex-end;
}




/*burguer*/

.cont-u{
  display: none;
   list-style: none;
}
.cont-inp:checked  ~  ul {
  display:block;
  
}
.cont-inp {
  display: none;
}
label.hamburguesa {
  box-sizing: border-box;
  display: inline-block;
  border: 1.5px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  margin-top: 10px;
  margin-left: 5px;
}
.cont-u li {
  display: block;
  background: rgb(112, 112, 112);
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid grey;
 
}

/*fin header1*/
/*fin burguer*/
}

.ofertax{
 
  font-family: 'Roboto';
  margin-top: 180px;
  text-align: center;
  font-weight: bold; 
 

}



.cont-main .main-header2 {
  width: 100%;
}

.cont-main h3{
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;

}

main{
  background-color: #f0f0f0;
}

.cont-main .imagenes-4 img{
  width: 20%;
  margin: 10px;
}

.cont-main .imagenes-4{
  display: flex;
  justify-content: center;
}


/*finmain*/

/*productos*/

section.product div article{
 display: flex;
 flex-direction: column;
 width: 240px;
 height: 400px;
 justify-content: space-around;
}
section.product{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}


.product div article{
background-color: white;
 margin: 30px;
 align-items: center;
}

.product div article:hover{
  box-shadow:  3px 3px 20px rgba(0, 0, 0, 0.3);
  transition: 1s;
  
}


a.vermas{
  color: black;
  text-decoration: none;
  background-color: white;
  border: solid 1px #E0E2E4;
  font-size: 12px;
  padding: 12px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: bold;
}

a.vermas:hover{
  background-color: #1F1D1D;
        color: white;
        transition: 1s;
}

.ver-inp{
  display: none;
}

.cont-main article img{
  width: 100px;
  margin: 2px;
  margin-top: 30px;
}

article.cajaimg{
height: 100%;
}

.cont-main span img{
  width: 100%;
 
}


/*favoritos*/

.fav{
  position: relative;
  bottom: 210px;
  left: 95px;
  z-index: 1;
}

/* Envios y nuevos*/
.of2{
  position: relative;
  top: -200px;
  left: -80px;
  background-color: #85CFA6;
  color: white;
  font-weight: bold;
  text-align: center;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 12px;
  padding: 5px;
}

.of4{
  position: relative;
    top: -195px;
    left: -85px;
    background-color: #E6898B;
    color: white;
    font-weight: bold;
    width: 70px;
    text-align: center;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 12px;
    padding: 5px;
 
}
 



/*media*/


@media (min-width: 769px){
 
  .cont-header{
    display: none;
  }

  .cont-header2{
    background-color: white;
    height: 130px;
    
  }
  
  .cont-header2 .iconos i{
    margin-right: 20px;
    font-size:18px;
    padding-top: 10px;
    color: black;
  }
  
  .cont-header2 .texto{
    margin-right: 32px;
    font-size: 11px;
    color: #969FAA;
  }

  .cont-header2 a  {
    text-decoration: none;
  }


  
  .cont-header2 .texto i{
    color: black;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .cont-header2 .iconos-navegador{
    width: 70%;
  }
  
  .cont-header2 .iconos-buscador{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
    border-bottom: solid 1px #969FAA;
    align-items: center;
    margin-top: 20px;
  }
  
  .cont-header2 .logo{
    width:30%;
    padding-top: 30px;
    padding-left: 42px;
  }
  
  .cont-header2 .categorias{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }
  
  
  .cont-header2 .categoria i{
    color: #5A6978;
    padding-left: 10px;
    font-size: 15px;
  }
  
  .cont-header2 .envio{
    margin-top: 28px;
    text-align: center;
    background-color: #F5F5F5;
    padding-top: 8px;
    padding-bottom:  8px; 
    position: relative;
    top: -40px;
    color: #5A6978;
    font-size: 10px;
  }
  
  .cont-header2 .contenedor-padre{
    display: flex;
    
  }
  
  .cont-header2 .navegador{
    display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  font-weight: bolder;
  font-size: 13px;
  margin-right: 80px;
  padding-top: 25px;
  }

  /*Search*/

  .buscar{
        
    border: none;
    background: white;
    color: #1F1D1D;
    outline: none;
    width: 0;
    transition: .3s;
  

}

.botonn{
    
 background: none;
border: transparent;
width: 3em;
outline: transparent;
text-decoration: none;

}

.buscador-ip:hover > .buscar{
    width: 130px;
    height: 18px;
    background: white;
    border-radius: 2px;
    border: solid 1px #D2D4D6;
}

}
