<footer>

    <section class="listas">

        <div class="contenedor-navegacion">
            <a href="" class="texto-principal">NAVEGACIÓN</a>
            <p> Quiènes Somos</p>
            <p>Como comprar</p>
            <p>Formas de Pago</p>
            <p>Medios de Envío</p>

        </div>
        <div class="contenedor-venta">
            <a href="" class="texto-principal">VENTA ONLINE</a>
            <p class="whatsapp"><i class="fab fa-whatsapp"></i> Teléfono venta online: 011 xx-xxxxx</p>
            <p>Mail: ventasonlinegive@One.com.ar</p>
            <p>Horario de atención: </p>
            <p>Lunes a Viernes de 9 a 17:00hs</p>
        </div>

        <div class="contenedor-subs">

            <form action="" method="GET">
                <label class="title" for="suscripcion">NEWSLETTER</label>
                <p class="subscrib">Suscribite a nuestro Newsletter.</p><br>

                <input type="email" name="suscripcion" placeholder="Direccion de email" required><br>

                <button><i class="fas fa-angle-right"></i></button>

            </form>
        </div>
        <div class="contenedor-redes">

            <a class="texto-principal" href="">SEGUÍNOS</a>
            <div class="instagram">
                <i class="fab fa-instagram"></i>
            </div>
            <div class="facebook">
                <i class="fab fa-facebook-f"></i>
            </div>

        </div>
    </section>

    <div class="copyright">
        <h4>Copyright@ GIVE ONE S.L.R todos los derechos reservados.</h4>
    </div>
</footer>