<header>

    <div class="contenedor-padre" data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">
        <div class="logo">
            <a href="/"><img src="/images/giveOneTNC.png" alt=""></a>
        </div>

        <div class="iconos-navegador">
            <div class="iconos-buscador">
                <a href="/users/registro">
                    <p class="texto"><i class="fas fa-sign-in-alt"></i>Registrarme</p>
                </a>
                <a href="/users/login">
                    <p class="texto"><i class="fas fa-user-alt"></i>Mi cuenta</p>
                </a>
                <div class="iconos">
                    <div class="buscador-ip">
                        <input class="buscar" type="text" >
                        <button class="boton-header">
                            <i class="fas fa-search"></i>
                        </button>
                        <i class="far fa-heart"></i>
                        <a class="cora" href="/cart"><i class="fas fa-shopping-bag"></i></a>
                    </div>
                </div>
            </div>
            
            <nav class="navegador">
                <input type="checkbox" id="menu" class="cont-inp">
                <label for="menu" class="hamburguesa"> ☰ </label>
                <ul class="cont-u">
                    <li class="categoria"><a href="#">Cubiertos</a></li>
                    <li class="categoria"><a href="#">Vajilla</a></li>
                    <li class="categoria"><a href="#">Cristalería</a></li>
                    <li class="categoria"><a href="#">Café y Té</a></li>
                    <li class="categoria"><a href="#">Contacto</a><i class="far fa-question-circle"></i></li>
                    <li class="admin"><a href="/admin/products"><i class="fas fa-users-cog"></i></a></i></li>
                </ul>
            </nav>
        </div><!-- END: .iconos-navegador -->
    </div>
    <div class="envio" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">
        <p>ENVÍO GRATIS EN COMPRAS MAYORES A $5.000</p>
    </div>
        
</header>