<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>
<body>
    
    <%- include('partials/header') %>

    <main class="registro">
        <section class="titular">
            <h2 class="titulo">Ingresá tu email</h2>
            <p class="parrafo">y recibirás un link para restablecer tu contraseña.</p>
            <div class="box-img"><img class="coffee" src="/images/mug_coffee_PNG97438.png" alt="coffee"></div>
        </section>
        <form class="log" action="/users/forgot2" method="GET">
            <input class="input-g" type="email" name="email" placeholder="E-mail" required>
            <button class="btn-g" type="submit">Enviar email</button>
        </form>
    </main>
    <%- include('partials/footer') %>
</body>
</html>