<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body class="detail">
    <%- include('partials/header') %>

    <main class="detalle">
            <div class="product">
                <div class="name-favorit">
                    <h3 class="name">Nombre del Producto</h3>
                    <a href=""><i class="far fa-heart"></i></a>
                </div>
                <div class="photo-description">
                    <section class="photo">
                        <img src="/images/cooking_pan_PNG8407.png" alt="">
                    </section>
                    <section class="descripcion">
                        <div class="codigo-producto">
                            <span>EJ1234</span>
                        </div>
                        <div class="precio">
                            <span class="price">$3.000</span>
                            <span class="descuento">$1.500</span>
                            <span class="img-desc">50% </span>
                        </div>
                        <div class="cuotas-tarjeta">
                            <section class="cuotas">
                                <span>6 cuotas sin interes abonando con</span>
                            </section>
                            <section class="tarjeta">
                                <img src="https://statics.glamit.com.ar/skin/frontend/default/volf/images/iconos/tarjetas.svg" width="150px" alt="">
                            </section>
                        </div>
                        <div class="cantidad-productos">
                            <div class="addCantidad">
                                <span id="minus" class="cant1" title="Menos">-</span>
                                <input id="input-quantity" class="input-text qty" readonly="readonly" type="text" name="qty" value="1" data-max="20">
                                <span id="add" class="cant" title="Más">+</span>
                            </div>
                        </div>
                        <div class="favoritos-boton">
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                <div class="parrafo">
                    <div class="detalles">
                        <h3>descripcion</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus amet tempora fugit eos aspernatur cum, doloremque nesciunt vitae hic autem quisquam et id quis neque!</p>
                    </div>
                </div>
                </section>
            </div>
    </main>    
    <%- include('partials/footer') %>
</body>
</html>
