<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body class="register">
    <%- include('partials/header') %>

    <main class="registro">
        <section class="titular">
            <h2 class="titulo">Registrate</h2>
            <p class="parrafo">Ingresa tus datos y accede a beneficios exclusivos. Nuestras promociones y descuentos te están esperando.</p>
            <div class="box-img"><img class="coffee" src="/images/mug_coffee_PNG97438.png" alt="coffee"></div>
        </section>
        <form class="log" action="/" method="GET">
            <input class="input-g" type="text" name="name" placeholder="Nombre" required>
            <span class="red-msg">Este campo es obligatorio</span>
            <input class="input-g" type="text" name="lastName" placeholder="Apellido" required>
            <span class="red-msg">Este campo es obligatorio</span>
            <input class="input-g" type="email" name="email" placeholder="E-mail" required>
            <span class="red-msg">Este campo es obligatorio</span>
            <input class="input-g" type="password" name="password" placeholder="Elige una contraseña" required>
            <span class="red-msg">Este campo es obligatorio</span>
            <input class="input-g" type="password" name="password" placeholder="Confirmar contraseña" required>
            <span class="red-msg">Este campo es obligatorio</span>
            <div class="r-btn">
                <input class="radio" type="radio" name="aceptar" id="aceptar">
                <label for="aceptar">Acepto los términos y condiciones</label>
            </div>
            <button class="btn-g" type="submit">Crear cuenta</button>
        </form>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
</body>
</html>