<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give One | Olvide mi contraseña</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/giveOneTNC2.ico" type="image/x-icon">
</head>
<body>
    <main class="registro">
        <section>
            <h2>Ingresá tu email</h2>
            <p>y recibirás un link para restablecer tu contraseña.</p>
            <div><img src="/images/coffee.png" alt="coffee"></div>
        </section>
        <form class="fgt-psw" action="/forgot2" method="GET">
            <input type="email" name="email" placeholder="E-mail" required>
            <button type="submit">Enviar email</button>
        </form>
    </main>
</body>
</html>