<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give One | Restablecer contraseña</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/giveOneTNC2.ico" type="image/x-icon">
</head>
<body>
    <main class="registro">
        <section>
            <h2>Recupera tu cuenta</h2>
            <p>Establece una nueva contraseña e inicia sesión nuevamente</p>
            <div><img src="/images/coffee.png" alt="coffee"></div>
        </section>
        <form class="fgt-psw" action="/" method="GET">
            <input type="password" name="code" placeholder="Elegí una nueva contraseña" required>
            <span>Este campo es obligatorio</span>
            <input type="password" name="passw" placeholder="Confirma la nueva contraseña" required>
            <span>Este campo es obligatorio</span>
            <button type="submit">Aceptar</button>
        </form>
    </main>
</body>
</html>