<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <title>Formas de Pago</title>
</head>
<body class="pago">
    <nav class="navegador">
        <p>Carrito (2)</p>
        <p>Formas de Pago</p>
    </nav>
    <section>
        <div class="contenedor">
            <form action="">
                <div class="select" id="select">
                    <div class="contenido-select">
                        <p class="titulo">Nueva Tarjeta de Crédito</p>

                    </div>
                    <i class="fas fa-angle-down"></i>
                </div>
            </form>
    </div>
    <div class="opciones">
        <input type="radio" name="medio" value="Débito">
            <i class="fas fa-credit-card"></i>
            <span>Tarjeta de débito</span>
    </div>
    <div class="opciones">
        <p>Con otras Formas de Pago</p>
        <input type="radio" name="medio" value="Efectivo">
            <i class="fas fa-money-bill"></i>
            <span>Efectivo en los puntos de pago</span>
    </div>
    </section>

    <section class="resumen">
        <p>Resume de compra</p>
        <p>Producto(3)</p>
        <p>$600</p>
        <p>Envio</p>
        <p>$100</p>
    </section>

    <section>
        <p>Pagás</p>
        <p>$700</p>
    </section>
        <div>
            <button><a href="/">Finalizar Compra</a></button>
        </div>
</body>
</html>