<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">   
    <title>Formas de Pago</title>
    <link rel="shortcut icon" href="/images/giveOneTNC2.png" type="image/x-icon">
</head>

<body class="pago">
    <header class="cont-header">


        <div class="logueo">
            <a href="/login"><i class="fas fa-user"></i></a>
            <a href="/cart" ><i class="fas fa-shopping-cart"></i></a>
            <a href="/forgot"><i class="fas fa-heart"></i></a>  
        </div>

        <img src="/images/giveOneTNC2.png" alt="" srcset="" class="logotipo">
        <nav class="hamburguesa">
            <input type="checkbox" id="menu" class="cont-inp">
            <label for="menu" class="hamburguesa"> ☰ </label>
            <ul class="cont-u">
                <li><a>Cubiertos</a></li>
                <li><a>Vajilla</a></li>
                <li><a>Cristaleria</a></li>
                <li><a>Cafe y Te</a></li>
                <li><a>Contacto</a></li>
            </ul>
        </nav>

    </header>

    <main>

        <div class="con1-cont2">
            <div class="contenido1">
                <section>
                    <ul id="progressbar">
                        <li class="cart"><a href="/cart">Carrito(3)</a></li>
                        <li class="pago"><a href="/formasDePago">Metodo de Pago</a></li>
                        <li class="finalizar"><a href="/compra">Finalizar</a></li>
                    </ul>
                    <div class="con1-cont2">
                        <div class="contenedor">
                            <input type="radio" name="medio" value="Débito">
                            <i class="fas fa-credit-card"></i>
                            <span>Tarjeta de crèdito
                            </span>
                        </div>

                        <div class="contenedor">
                            <input type="radio" name="medio" value="Débito">
                            <i class="fas fa-credit-card"></i>
                            <span>Tarjeta de débito</span>

                        </div>
                        <p class="forma-pago">Con otras Formas de Pago</p>
                        <div class="contenedor">
                            <input class="" type="radio" name="medio" value="Efectivo">
                            <i class="fas fa-money-bill"></i>
                            <span>Efectivo en puntos de Pago</span>
                        </div>
                </section>
            </div> <!-- END: .contenido1 -->

            <div class="contenido2">
                <section class="resumen">

                    <p class="compra">Resumen de compra</p>

                    <div class="op1">
                        <p>Producto(3)</p>
                        <p>$600</p>
                    </div>
                    <div class="op2">
                        <p>Envio</p>
                        <p class="precio2">$100</p>
                    </div>

                </section>

                <section>
                    <div class="op3">
                        <p class="pagas">Pagás</p>
                        <p class="precio3">$700</p>
                    </div>
                </section>

                <div class="boton">
                    <button><a href="/compra">CONTINUAR</a></button>
                </div>

            </div> <!-- END: .contenid2 -->
    </main>

    <footer>

        <section class="listas">
           
          
        <div class="contenedor-navegacion">
            <a href="" class="texto-principal">NAVEGACIÓN</a> 
            <p> Quiènes Somos</p>
            <p>Como comprar</p>
            <p>Formas de Pago</p>
            <p>Medios de Envío</p>

          </div>
            <div class="contenedor-venta">
                <a href=""  class="texto-principal">VENTA ONLINE</a>
                <p class="whatsapp"><i class="fab fa-whatsapp"></i> Teléfono venta online: 011 xx-xxxxx</p>
                <p >Mail: ventasonlinegive@One.com.ar</p>
                <p class="horario">Horario de atención: </p>
                <p class="dias">Lunes a Viernes de 9 a 17:00hs</p>
            </div>
            

            <div class="contenedor-subs">
               
                <form action="" method="GET">
                    <label class="title" for="suscripcion">NEWLETTER</label>
                    <p class="subscrib">Suscribite a nuestro Newletter.</p><br>
                
                    <input type="text" name="suscripcion" placeholder="Direccion de email" required><br>
                
                <button>SUSCRIBIRME</button>
            
                </form>
            </div>
            <div class="contenedor-redes">
                
                <a class="texto-principal"  href="">SEGUÍNOS</a>
                <div class="instagram">
                <i class="fab fa-instagram"></i>
                </div>
             <div class="facebook"> 
                <i class="fab fa-facebook-f"></i>
                </div>
            
            </div>
        
        </section>
            
        <div class="copyright">
            <h4>Copyright@ GIVE ONE S.R.L todos los derechos reservados.</h4>
        </div>
    </footer>

</body>

</html>