<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiveOne</title>
    <link rel="shortcut icon" href="/images/giveOneTNC2.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/d41001deaf.js" crossorigin="anonymous"></script>

</head>

<body class="home">
    <header class="cont-header">


        <div class="logueo">
            <a href="/login"><i class="fas fa-user"></i></a>
            <a href="/cart" ><i class="fas fa-shopping-cart"></i></a>
            <a href="/forgot"><i class="fas fa-heart"></i></a>  
        </div>

        <a href="/"><img src="/images/giveOneTNC2.png" alt="" srcset="" class="logotipo"></a>
        <nav class="hamburguesa">
            <input type="checkbox" id="menu" class="cont-inp">
            <label for="menu" class="hamburguesa"> ☰ </label>
            <ul class="cont-u">
                <li><a>Cubiertos</a></li>
                <li><a>Vajilla</a></li>
                <li><a>Cristaleria</a></li>
                <li><a>Cafe y Te</a></li>
                <li><a>Contacto</a></li>
            </ul>
        </nav>

    </header>

    <main class="cont-main">
        <div>
            <span class="banner"><img src="/images/BANNER2.jpg" alt="" srcset=""></span>
        </div>
        <h3 class="ofertax">Productos más Vendidos</h3>
        <section class="product">

            <div class="contenedor-pro">
                <article class="uno">

                    <img src="/images/wineglass_PNG2897.png" alt="">
                    <h4>Nombre del producto</h4>

                    <p>DETALLES</p>
                    <br>
                    <a href="/producto" class="vermas"> <input type="buttom" name="Vermas"
                            id="VerMas" class="ver-inp">Ver Mas</a>
            </div>

            <div>
                </article>
                <article class="dos">
                    <img src="/images/wineglass_PNG2892.png" alt="">
                    <h4>Nombre del producto</h4>
                    <p>DETALLES</p>
                    <br>
                    <a href="/producto" class="vermas"> <input type="buttom" name="Vermas"
                            id="VerMas" class="ver-inp">Ver Mas</a>
            </div>

            <div>
                </article>
                <article class="tres">
                    <img src="/images/wineglass_PNG2896.png" alt="">
                    <h4>Nombre del producto</h4>
                    <p>DETALLES</p>
                    <br>
                    <a href="/producto" class="vermas"> <input type="buttom" name="Vermas"
                            id="VerMas" class="ver-inp">Ver Mas</a>

            </div>

            <div>
                </article>
                <article class="cuatro">
                    <img src="/images/wineglass_PNG2917.png" alt="">
                    <h4>Nombre del producto</h4>
                    <p>DETALLES</p>
                    <br>
                    <a href="/producto" class="vermas"> <input type="buttom" name="Vermas"
                            id="VerMas" class="ver-inp">Ver Mas</a>
                </article>
            </div>

            <div>
                </article>
                <article class="cinco">
                    <img src="/images/wineglass_PNG2903.png" alt="">
                    <h4>Nombre del producto</h4>
                    <p>DETALLES</p>
                    <br>
                    <a href="/producto" class="vermas"> <input type="buttom" name="Vermas"
                            id="VerMas" class="ver-inp">Ver Mas</a>
                </article>
            </div>
  
            <div>
            </article>
            <article class="seis">
                <img src="/images/wineglass_PNG2892.png"alt="">
                <h4>Nombre del producto</h4>
                <p>DETALLES</p>
                <br>
                <a href="/producto" class="vermas"> <input type="buttom" name="Vermas"
                        id="VerMas" class="ver-inp">Ver Mas</a>
            </article>
        </div>
        </section>
        <span>
            <img src="/images/newletter.jpg" alt="" srcset="">
           
        </span>

    </main>

    <footer>

        <section class="listas">

            <div class="contenedor-navegacion">
                <a href="" class="texto-principal">NAVEGACIÓN</a>
                <p> Quiènes Somos</p>
                <p>Como comprar</p>
                <p>Formas de Pago</p>
                <p>Medios de Envío</p>

            </div>
            <div class="contenedor-venta">
                <a href="" class="texto-principal">VENTA ONLINE</a>
                <p class="whatsapp"><i class="fab fa-whatsapp"></i> Teléfono venta online: 011 xx-xxxxx</p>
                <p>Mail: ventasonlinegive@One.com.ar</p>
                <p>Horario de atención: </p>
                <p>Lunes a Viernes de 9 a 17:00hs</p>
            </div>

            <div class="contenedor-subs">

                <form action="" method="GET">
                    <label class="title" for="suscripcion">NEWLETTER</label>
                    <p class="subscrib">Suscribite a nuestro Newletter.</p><br>

                    <input type="text" name="suscripcion" placeholder="Direccion de email" required><br>

                    <button>SUSCRIBIRME</button>

                </form>
            </div>
            <div class="contenedor-redes">

                <a class="texto-principal" href="">SEGUÍNOS</a>
                <div class="instagram">
                    <i class="fab fa-instagram"></i>
                </div>
                <div class="facebook">
                    <i class="fab fa-facebook-f"></i>
                </div>

            </div>
        </section>

        <div class="copyright">
            <h4>Copyright@ GIVE ONE S.L.R todos los derechos reservados.</h4>
        </div>
    </footer>
</body>

</html>