<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Carrito</title>
</head>

<body class="carrito">

    <main>

    <nav class="navegador">
        <p class="opcion1">Carrito (2)</p>
        <a href="/formasDePago"><p>Formas de Pago</p></a>
    </nav>

    <section>

        <article class="articulo1">
        
        <img src="/images/PLATOS.jpg" width="80px" height="80px" alt="">
        <p class="descripcion"> Plato Playo Asodimo 27CM - X Unidad</p>
        <div>
            <form action="">
                <button class="menos" >-</button><input class="cantidad" type="text" placeholder="1"><button class="mas">+</button>
            </form>
        </div>
        <div>
            <p>$299</p>
        </div>
        
        <div>
            <form action="">
            <button>Eliminar</button>
        </form>
            
        </div>
    </article>

    <article class="articulo2">
        <img src="/images/TAZAS.jpg" width="80px" height="80px" alt="">
        <p>Tazas de Cafe Mug 313Ml</p>
        <div>
            <form action="">
                <button class="menos" >-</button><input class="cantidad" type="text" placeholder="1"><button class="mas">+</button>
            </form>
        </div>
        <div>
            <p>$150</p>
        </div>
        
        <div>
            <form action="">
        <button>Eliminar</button>
        </form>
            
        </div>
    </article>
    </section>

    <section class="envio">
        <p>Envío a C.P:1234,Buenos Aires</p>
        <p>$600</p>
    </section>
    <section class="total">
        <p>Total con Envío</p>
        <p>$700</p>
        <div>
            <button><a href="/formasDePago">Continuar compra</a></button>
        </div>
        

    </section>
</main>

</body>

</html>