<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Producto</title>
    <script src="https://kit.fontawesome.com/d41001deaf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="detail">
    <header>

    </header>
    <main class="detalle">
        <div class="container">
            <article class="product">
                <div class="name-favorit">
                    <h3 class="name">Nombre del Producto</h3>
                    <a href=""><i class="far fa-heart"></i></a>
                </div>
                <section class="photo">
                    <img src="https://pngimg.com/uploads/mug_coffee/mug_coffee_PNG97442.png" alt="">
                </section>
                <section class="descripcion">
                    <div class="codigo-producto">
                        <span class="codigo">EJ1234</span>
                    </div>
                    <div class="precio">
                        <span class="price">$600</span>
                        <span class="descuento">$300</span>
                        <span class="img-desc">50% </span>
                    </div>
                    <div class="cuotas-tarjeta">
                        <section class="cuotas">
                            <i class="fas fa-credit-card"></i>
                            <span>6 cuotas sin interes de $50</span>
                        </section>
                        <section class="tarjeta">
                            <span>abonando con</span>
                            <i class="fab fa-cc-visa"></i>
                            <i class="fab fa-cc-mastercard"></i>
                        </section>
                    </div>
                    <div class="cantidad-productos">
                        <span class="cantidad">cantidad</span>
                        <div class="addCantidad">
                            <span id="minus" class="cant" title="Menos">-</span>
                            <input id="input-quantity" class="input-text qty" readonly="readonly" type="text" name="qty" value="1" data-max="20">
                            <span id="add" class="cant" title="Más">+</span>
                        </div>
                    </div>
                    <div class="detalles">
                        <h3>descripcion</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus amet tempora fugit eos aspernatur cum, doloremque nesciunt vitae hic autem quisquam et id quis neque!</p>
                    </div>
                    <div class="favoritos-boton">
                        <button type="submit">Agregar al carrito</button>
                    </div>
                </section>
            </article>
            
        </div>
    </main>    
    <footer>

    </footer>
</body>
</html>