.detail{
    background-color: white;
    font-family: 'Roboto';
    font-weight: normal;
}

.detail main{
    background-color: white;
}
.detail .detalle{
    margin: 20px 10px;
}
.detail .detalle .product .name-favorit{
    margin: 10px 0;
    display: grid;
    grid-template-columns: 80% 20%;
    text-align: center;
    padding: 5px;
}
.detail .detalle .product .name-favorit .name{
    display: inline-block;
    font-size: 1.4rem;
    text-align: left;
    text-transform: uppercase;
    
}

.detail .detalle .product .name-favorit a i{
    color: gray;
    font-size: 1.7rem;
}
.detail .detalle .product .photo img{
    padding: 10%;
    width: 100%;
    margin-bottom: 15px;
}
.detail .detalle .product .descripcion .codigo-producto{
    color: grey;
    font-size: 1rem;
    text-transform: uppercase;

}
.detail .detalle .product .descripcion .precio{
    font-size: 1.2rem;
    padding: 5px;
}
.detail .detalle .product .descripcion .precio .price{
    text-decoration: line-through;
    color: grey;
}
.detail .detalle .product .descripcion .precio .descuento{
    border-radius: 5px;
    padding: 2px 4px;
    color: black;
    font-weight: bold;
}
.detail .detalle .product .descripcion .precio .img-desc{
    color: white;
    background: #E6898B;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    font-weight: bold;

}
.detail .detalle .product .descripcion .cuotas-tarjeta{
    text-transform: uppercase;
}
.detail .detalle .product .descripcion .cuotas-tarjeta i, .detail .detalle .product .descripcion .cuotas-tarjeta span{
    font-size: 1.3rem;
    padding: 10px 0;
}
.detail .detalle .product .descripcion .cantidad-productos{
    margin: 15px 0;
}
.detail .detalle .product .descripcion .cantidad-productos span{
    padding: 0 5px 0 5px;
    text-transform: capitalize;
    font-size: 0.9rem;
}
.detail .detalle .product .descripcion .cantidad-productos .cant{
    background-color: white;
    border: solid 1px #e7e5e5;
    cursor: pointer;
}
.detail .detalle .product .descripcion .cantidad-productos .cant1{
    background: white;
    padding-left: 7px;
    text-align: center;
    border: solid 1px #e7e5e5;
    padding-right: 7px;
    cursor: pointer;
}

.detail .detalle .product .descripcion .cantidad-productos input{
    background-color: white;
    border: none;
    text-align: center;
    width: 20px;
   

}


.detail .detalle .product .descripcion .cantidad-productos .cant1:hover{
    background: #1F1D1D;
    color: white;
    transition: 1s;
}

.detail .detalle .product .descripcion .cantidad-productos .cant:hover{
    background: #1F1D1D;
    color: white;
    transition: 1s;
}

.detail .detalle .product .descripcion .favoritos-boton{
    font-size: 1.rem;
}
.detail .detalle .product .descripcion .favoritos-boton button{
    color: #ffffff;
    background-color: #1F1D1D;
    padding: 12px 20px;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Roboto';
    border: 0;
    border-radius: 2px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    transition: all .2s;
    outline: none;
    
}
.detail .detalle .product .descripcion .favoritos-boton  button:hover, button:active, button:focus {
    -ms-transform: scale(1.1);
        transform: scale(1.1); 
      
}
.detail .detalle .product .parrafo .detalles h3{
    margin-bottom: 5px;
    text-transform: uppercase;
    margin-top: 15px;
}
.detail .detalle .product .parrafo .detalles p{
    text-transform: capitalize;
    margin-bottom: 15px;
}

.detail .cuotas span{
    
    margin-top: 10px;
}

@media (min-width: 426px) {
    .detail .detalle .product .photo img{
        padding: 5%;
    }
    .detail .detalle .product .photo-description{
        display: flex;
    }
    .detail .detalle .product .photo-description .photo{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .detail .detalle .product .photo-description .photo img{
        max-height: 95%;
        max-width: 95%;
    }
    .detail .detalle .product .photo-description .descripcion{   
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;     
        width: 50%;
        margin-bottom: 150px;
    }
    .detail .detalle .product .descripcion .favoritos-boton button{
        margin-top: 15px;
    }
    .detail .detalle .product .name-favorit .name{
        padding-left: 62%;
    padding-top: 25px;
    font-weight: bold;
    }
}

@media (min-width: 769px){
    .detail{
        margin-left: auto;
        margin-right: auto;
        width: 100%
    }
    .detail .detalle .product .name-favorit .name{
        padding-left: 62%;
    padding-top: 25px;
    font-weight: bold;
    }
    .detail .detalle .product .name-favorit a i{
        color: black;
        padding-right: 25%;
        margin-top: 10px;
    }
    .detail .detalle .product .photo-description .photo img{
        max-height: 75%;
        max-width: 75%;
    }
    .detail .detalle .product .photo-description .descripcion{        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 150px;
    }
    .detail .detalle .product .descripcion .codigo-producto{
        font-size: 1.2rem;
    }
    .detail .detalle .product .descripcion .precio{
        font-size: 16px;
        padding-bottom: 20px;
    }
    .detail .detalle .product .descripcion .cuotas-tarjeta i{
        font-size: 1.5rem;
    }
    .detail .detalle .product .descripcion .cuotas-tarjeta span{
        font-size: 12px;
    }
    .detail .detalle .product .descripcion .cantidad-productos span{
        font-size: 1.1rem;
    }
    .detail .detalle .product .descripcion .favoritos-boton{
        font-size: 1.2rem;
    }
    .detail .detalle .product .parrafo{
        padding: 0 5%;
    }
    .detail .detalle .product .parrafo .detalles h3{
        font-size: 1.5rem;
    }
    .detail .detalle .product .parrafo .detalles p{
        font-size: 15px;
    }
}
