/*header1*/
@media (min-width: 10px) and (max-width: 768px){
 
    .cont-header2{
      display: none;
    }
  
  
  
  .logotipo{ 
   border-radius: 10px;
    margin-top: 5px;
      height: 50px;
      margin-left: 15px;
    margin-right: 50px;
   
  }
  
  .cont-header{ 
  background-color: white;
    display:flex;
    flex-direction: row-reverse;  
  }
  
  div.logueo a i{
    color: black;
    margin: 5px;
  }
  
  
  div.logueo{
    color: black;
     margin-left: auto;
     padding: 10px;
     justify-content:space-evenly;
  }
  
  .header1 .logueo a{
    color: black;
    margin-left: 15px;
    justify-content: flex-end;
  }
  
  
  
  
  /*burguer*/
  
  .cont-u{
    display: none;
     list-style: none;
  }
  .cont-inp:checked  ~  ul {
    display:block;
    
  }
  .cont-inp {
    display: none;
  }
  label.hamburguesa {
    box-sizing: border-box;
    display: inline-block;
    border: 1.5px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    margin-top: 10px;
    margin-left: 5px;
  }
  .cont-u li {
    display: block;
    background: rgb(112, 112, 112);
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
   
  }
  
  /*fin header1*/
  /*fin burguer*/
  }

  