/*header1*/
@media (min-width: 10px) and (max-width: 768px){

    .cont-header2{
      display: none;
    }
 
    .logotipo{
      border-radius: 10px;
      margin-top: 5px;
      height: 50px;
      margin-left: 15px;
      margin-right: 50px;
    }
    
    .cont-header{
      background-color: white;
      display:flex;
      flex-direction: row-reverse;  
    }
    div.logueo a i{
      color: black;
      margin: 5px;
    }
    div.logueo{
      color: black;
      margin-left: auto;
      padding: 10px;
      justify-content:space-evenly;
    }
    
    .header1 .logueo a{
      color: black;
      margin-left: 15px;
      justify-content: flex-end;
    }
 
    /*burguer*/
 
    .cont-u{
      display: none;
      list-style: none;
    }
    .cont-inp:checked  ~  ul {
      display:block;
    }
    .cont-inp {
      display: none;
    }
    label.hamburguesa {
      box-sizing: border-box;
      display: inline-block;
      border: 1.5px solid black;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-weight: bold;
      text-align: center;
      user-select: none;
      margin-top: 10px;
      margin-left: 5px;
    }
    .cont-u li {
      display: block;
      background: rgb(112, 112, 112);
      margin: 0;
      padding: 10px;
      list-style: none;
      border-bottom: 1px solid grey;
    }
    /*fin header1*/
    /*fin burguer*/
}

/*media*/
@media (min-width: 769px){
 
    .cont-header{
      display: none;
    }
  
    .cont-header2{
      background-color: white;
      height: 130px;
    }
    
    .cont-header2 .iconos i{
      margin-right: 20px;
      font-size:18px;
      padding-top: 10px;
      color: black;
    }
    
    .cont-header2 .texto{
      margin-right: 32px;
      font-size: 11px;
      color: #969FAA;
    }
  
    .cont-header2 a  {
      text-decoration: none;
    }
  
    .cont-header2 .texto i{
      color: black;
      font-size: 18px;
      margin-right: 10px;
    }
    
    .cont-header2 .iconos-navegador{
      width: 70%;
    }
    
    .cont-header2 .iconos-buscador{
      display: flex;
      justify-content: flex-end;
      padding-bottom: 15px;
      border-bottom: solid 1px #969FAA;
      align-items: center;
      margin-top: 20px;
    }
    
    .cont-header2 .logo{
      width:30%;
      padding-top: 30px;
      padding-left: 42px;
    }
    
    .cont-header2 .categorias{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      align-items: center;
    }
    
    
    .cont-header2 .categoria i{
      color: #5A6978;
      padding-left: 10px;
      font-size: 15px;
    }
    
    .cont-header2 .envio{
      margin-top: 28px;
      text-align: center;
      background-color: #F5F5F5;
      padding-top: 8px;
      padding-bottom:  8px; 
      position: relative;
      top: -40px;
      color: #5A6978;
      font-size: 10px;
    }
    
    .cont-header2 .contenedor-padre{
      display: flex;
    }
    
    .cont-header2 .navegador{
      display: flex;
      justify-content: space-between;
      font-family: 'Roboto';
      font-weight: bolder;
      font-size: 13px;
      margin-right: 80px;
      padding-top: 25px;
    }
  
    /*Search*/
    .buscar{
      border: none;
      background: white;
      color: #1F1D1D;
      outline: none;
      width: 0;
      transition: .3s;
    }
    .boton{
      background: none;
      border: transparent;
      width: 3em;
      outline: transparent;
      text-decoration: none;
    }
  
    .buscador-ip:hover > .buscar{
      width: 130px;
      height: 18px;
      background: white;
      border-radius: 2px;
      border: solid 1px #D2D4D6;
    }
  }