.ofertax{

  font-family: 'Roboto';
  margin-top: 180px;
  text-align: center;
  font-weight: bold; 

}

.cont-main h3{
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;

}

main{
  background-color: #f0f0f0;
}

.cont-main .imagenes-4 img{
  width: 20%;
  margin: 10px;
}

.cont-main .imagenes-4{
  display: flex;
  justify-content: center;
}


/*fin*/

/*productos*/

section.product div article{
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 400px;
  justify-content: space-around;
}
section.product{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}
.product div article{
  background-color: white;
  margin: 30px;
  align-items: center;
  box-shadow:  3px 3px 20px rgba(0, 0, 0, 0.1);
}
a.ver{
  color: black;
  text-decoration: none;
  background-color: white;
  border: solid 1px #E0E2E4;
  font-size: 12px;
  padding: 12px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: bold;
}

a.ver:hover{
  background-color: #1F1D1D;
  color: white;
  transition: 1s;
}

.ver-inp{
  display: none;
}

.cont-main article img{
  width: 100px;
  margin: 2px;
  margin-top: 30px;
}

article.cajaimg{
  height: 100%;
}

.cont-main span img{
  width: 100%;
  position: relative;
  bottom: -5px;
}

.cont-main .seis img{
  width: 170px;
  margin: 0;
}

/*favoritos*/
.fav6{
  position: relative;
  bottom: 220px;
  left: 95px;
  
}


/* Envios y nuevos*/
.of2{
  position: relative;
  top: -200px;
  left: -80px;
  background-color: #85CFA6;
  color: white;
  font-weight: bold;
  text-align: center;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 12px;
  padding: 5px;
}

.of4{
  position: relative;
  top: -195px;
  left: -85px;
  background-color: #E6898B;
  color: white;
  font-weight: bold;
  width: 70px;
  text-align: center;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 12px;
  padding: 5px;
}
.banner2{
  width: 100%;
}