<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body class="register">
    
    <%- include('../partials/header') %>

    <main class="registro">
        <section class="titular">
            <h2 class="titulo">Carga de nuevo producto</h2>
            
            <div class="box-img"><img class="coffee" src="/images/mug_coffee_PNG97438.png" alt="coffee"></div>
        </section>
        <form class="log" action="" method="POST" enctype="multipart/form-data">
            <input class="input-g" type="text" name="name" placeholder="Nombre" required>
            
            <textarea class="input-g" name="description" placeholder="Descripción" cols="20" rows="5" required></textarea>
            
            <input class="input-g" type="number" name="price" placeholder="Precio" required>
            
            <input class="input-g" type="text" name="category" placeholder="categoría" required>
            
            <input class="input-g" type="file" name="image" accept="image/*" required>
            
            <div class="r-btn">
                <button class="btn-g" type="submit">Agregar producto</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>